In [1]:
import pandas as pd 
import numpy as np 
from matplotlib import pyplot as plt
import seaborn as sns

plt.style.use('ggplot')

import os 
import random

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
import cv2

import tensorflow as tf 
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

2023-07-26 14:34:15.236880: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-07-26 14:34:15.312547: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-07-26 14:34:15.313876: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-07-26 14:34:16.477781: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
BASEDIR = os.getcwd()
DATADIR = os.path.join(BASEDIR, 'data')

In [3]:
DATADIR

'/home/dhakal/BTC_TF/data'

In [5]:
for dirs in [DATADIR]:
    filepaths = []
    labels = []
    classes_list = sorted(os.listdir(dirs))
    for s_class in classes_list:
        label = s_class
        classpath = os.path.join(dirs,s_class)
        f_list = sorted(os.listdir(classpath))
        for file in f_list:
            file_path = os.path.join(classpath,file)
            filepaths.append(file_path)
            labels.append(label)

In [13]:
main_df = pd.DataFrame({'image_path' : filepaths, 'label': labels})

In [14]:
main_df.head()

                                          image_path           label
0  /home/dhakal/BTC_TF/data/Astrocitoma T1/005_bi...  Astrocitoma T1
1  /home/dhakal/BTC_TF/data/Astrocitoma T1/006_bi...  Astrocitoma T1
2  /home/dhakal/BTC_TF/data/Astrocitoma T1/01809e...  Astrocitoma T1
3  /home/dhakal/BTC_TF/data/Astrocitoma T1/02df13...  Astrocitoma T1
4  /home/dhakal/BTC_TF/data/Astrocitoma T1/044d8d...  Astrocitoma T1

In [15]:
len(main_df['label'].unique())

44

In [16]:
main_df.shape

(4479, 2)

In [18]:
main_df['label'].value_counts()

label
Meningioma T1C+           369
Meningioma T1             272
_NORMAL T2                271
_NORMAL T1                251
Astrocitoma T1C+          233
Meningioma T2             233
Neurocitoma T1C+          223
Schwannoma T1C+           194
Astrocitoma T1            176
Astrocitoma T2            171
Schwannoma T1             148
Neurocitoma T1            130
Schwannoma T2             123
Carcinoma T1C+            112
Papiloma T1C+             108
Neurocitoma T2            104
Glioblastoma T1C+          94
Oligodendroglioma T1       86
Tuberculoma T1C+           84
Carcinoma T2               73
Oligodendroglioma T1C+     72
Meduloblastoma T1C+        67
Papiloma T1                66
Oligodendroglioma T2       66
Carcinoma T1               66
Papiloma T2                63
Ependimoma T2              57
Glioblastoma T2            55
Glioblastoma T1            55
Ependimoma T1C+            48
Ependimoma T1              45
Meduloblastoma T2          41
Germinoma T1C+             40
Tuberculoma T2             33
Germinoma T2               33
Granuloma T1C+             31
Granuloma T1               30
Tuberculoma T1             28
Germinoma T1               27
Ganglioglioma T2           23
Meduloblastoma T1          23
Ganglioglioma T1           20
Ganglioglioma T1C+         18
Granuloma T2               17
Name: count, dtype: int64